{% extends 'base.html' %}

<!-- break -->

{% block title %}Add expenses{% endblock title %}
<!-- break -->
{% block content %}

<div class="container mt-4">
    <h1>Add Expense</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'expenses' %}">Expenses</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Edit Expenses
            </li>
        </ol>
    </nav>
    {% include "partials/_messages.html" %}
    <div class="card">
        <div class="card-body">
            <form action="{% url 'edit-expense' values.id%}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">Amount</label>
                    <input
                        type="number"
                        value="{{values.amount}}"
                        class="form-control form-control-sm"
                        name="amount"
                    />
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <input
                        type="text"
                        value="{{values.description}}"
                        class="form-control form-control-sm"
                        name="description"
                    />
                </div>
                <div class="form-group">
                    <label for="">Catagory</label>
                    <select class="form-control" name="catagory" id="">
                        {% for catagory in catagories %}
                        <option {% if catagory.name == values.catagory%} selected {% endif %} name="catagory" value="{{catagory.name}}">
                            {{ catagory.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Date of Expense</label>
                    <input
                        type="date"
                        value="{{values.date}}"
                        class="form-control form-control-sm"
                        name="expense_date"
                    />
                </div>
                <input
                    type="submit"
                    class="btn btn-primary btn-primary-sm"
                    value="Update"
                />
            </form>
        </div>
    </div>
</div>
{% endblock content %}
