{% extends 'base.html' %}

<!-- break-->
{% block title %} Home {% endblock title %}

<!-- break-->

{% block content %}

<h1>Expense List</h1>

<ul class="list-group">
    <li class="list-item">bought beer</li>
    <li class="list-item">bought beer</li>
    <li class="list-item">bought beer</li>
    <li class="list-item">bought beer</li>
    <li class="list-item">bought beer</li>
    <li class="list-item">bought beer</li>
    <li class="list-item">bought beer</li>
    <li class="list-item">bought beer</li>
    <li class="list-item">bought beer</li>
</ul>

{% endblock content %}
